{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}



<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<link rel="stylesheet" href="{{ MEDIA_URL }}js/jquery.mobile-1.4.2.css">
<script src="{{ MEDIA_URL }}js/jquery.mobile-1.4.2.min.js"></script>
<script src="{{ MEDIA_URL }}reading_study/js/submit.js"></script>
<script src="{{ MEDIA_URL }}reading_study/js/table_builder.js"></script>
<script>
$("#doctype_other_1").live( "change", function() { 
	if ($("#doctype_other_1").val() != 0){$('#docother1').show();} else {
		$('#docother1').hide();
		$('#docother1').val('');}});
$("#doctype_other_2").live( "change", function() { 
	if ($("#doctype_other_2").val() != 0){$('#docother2').show();} else {
		$('#docother2').hide();
		$('#docother2').val('');}});
$("#doctype_other_3").live( "change", function() { 
	if ($("#doctype_other_3").val() != 0){$('#docother3').show();} else {
		$('#docother3').hide();
		$('#docother3').val('');}});


function cbChanged(checkboxElem, name) {
  //if (checkboxElem.checked) {
    	$('#'+name).toggle();
		$('#'+name).val('');
  //} else {
    // Do something else
  }
function docOtherChanged(radioElem){
	if (radioElem.value != '0'){
		$('#docother').show();
	}
	else {
		$('#docother').hide();
		$('#docother').val('');
	}
		
}
function pre_buttons(){
	$('#submit_box').show();
	$('#pre-submit').prop("checked", false).checkboxradio("refresh");
	$('#submit').hide();
	if ($('#willreport').is(":checked")) {
		$('#not_reporting').hide();
		$('#reading_questions').show();
	}
	else if ($('#cannotreport').is(":checked")) {
		$('#reading_questions').hide();
		$('#not_reporting').show();

	}
	else if ($('#noread').is(":checked") || $('#reportedonpaper').is(":checked")) {
		$('#not_reporting').hide();
		$('#reading_questions').hide();
		
	}
	
}

</script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}reading_study/css/questionairre_style.css">

<div id="mobile_shrinky">
	<h3>You have provided data for {{ current_stage.stage_times_completed }} of the 21 days of the study</h3>  
	<h3>You have submitted a total of {{ current_stage.total_forms_submitted }} reading diary forms ({{ current_stage.decode_custom_data.0 }} online and {{ current_stage.decode_custom_data.1 }} on paper).</h3>
	
	{% if current_stage.future_session %}
	<h1>Diary reporting up to date.</h1>
	<h4>Good job! You have reported your reading activities for every day so far, including today. </h4><h4>You may continue reporting your reading sessions tomorrow. </h4><h4>You have {{ current_stage.days_remaining }} days left to report, up to and including {{ current_stage.expected_end_date|date:"l F jS" }}.</h4>
	<div style='text-align:center;'> 
		<img src="{{ MEDIA_URL }}reading_study/img/kitten.jpg" />
		</div>
	{% else %}
	
	
	
	<h1>Diary entry for <span style="text-decoration:underline;">{{current_stage.date_from_session_number|date:"l F jS "}}</span></h1>
	
	
	
	
	<form id="diary_form" method="post" action="#" onsubmit="submit_data();">
		<input type="hidden" name="date_of_entry" value="{{ current_stage.date_from_session_number|date:"d.m.Y"}}">

		<div id="pre_questions">
			<p>Please select an option below:
				<fieldset class="ui-field-contain">

				      <label for="willreport">I <b>read</b> on {{current_stage.date_from_session_number|date:"F jS"}} and I would like to report my reading online.</label>
				      <input type="radio" name="didyouread" id="willreport" value="willreport" onclick="pre_buttons();">
					  <label for="reportedonpaper">I <b>read</b> on {{current_stage.date_from_session_number|date:"F jS"}} and I have filled out a paper diary form.</label>
				      <input type="radio" name="didyouread" id="reportedonpaper" value="reportedonpaper" onclick="pre_buttons();">
					  <label for="cannotreport">I <b>read</b> on {{current_stage.date_from_session_number|date:"F jS"}} and I do not wish to report my reading.</label>
				      <input type="radio" name="didyouread" id="cannotreport" value="cannotreport" onclick="pre_buttons();">
			      <label for="noread">I <b>did not read</b> on {{current_stage.date_from_session_number|date:"F jS"}}</label>
			      <input type="radio" name="didyouread" id="noread" value="noread" onclick="pre_buttons();">

				</fieldset>
		</div>
		<div id="not_reporting" style="display:none;">

		<label for="excuse">If you can, briefly describe your reasons for NOT reporting your reading:</label>
		<textarea name="excuse" id="excuse"></textarea>
		</div>
		
		
		
		
		<div id="reading_questions" style="display:none;">
			
				<div class="ui-field-contain">
					
					<fieldset>
				    <label for="start_time">What time of day did this session begin?</label>
				    <select name="start_time" id="start_time">
				      <option value="em">Early morning (6 - 9 am)</option>
				      <option value="lm">Late morning (9 am - noon)</option>
				      <option value="ea">Early afternoon (noon - 3 pm)</option>
				      <option value="la">Late afternoon (3 - 6 pm)</option>
				      <option value="ee">Early evening (6 - 9 pm)</option>
				      <option value="ee">Late evening (9 pm - midnight)</option>
				      <option value="en">After midnight (midnight - 3 am)</option>
				      <option value="ln">Before dawn (3 - 6 am)</option>
				    </select>
				</fieldset>
					<fieldset>
					<label for="duration">How long did the session last, in minutes?</label>
					  <input type="range" name="duration" id="duration" value="10" min="10" step="10" max="120">
				  </fieldset>
					<fieldset>
					<label for="break">How much time, in minutes, did you spend on non-reading activities (e.g., writing, taking a break)?</label>
					  <input type="range" name="break" id="break" value="10" min="10" step="10" max="120">
				  </fieldset>
				  <fieldset>
					  <label for="location">Where did this session take place?</label>
					  <input type="text" name="location" id="location" placeholder="(e.g., office desk, living room, coffee shop)">

					  <label for="goal">Please state your main goal for this session.</label>
					<textarea name="goal" id="goal"></textarea>


					<label for="layout">Please describe your reading layout.</label>
					<textarea name="layout" id="layout" placeholder="e.g., 'At my desk I had the textbook on my left and was making study notes on the right.'"></textarea>
					<label for="comments">Do you have any comments about how the reading session went? Were there any moments when you felt frustrated or unable to accomplish a task? What happened?</label>
					<textarea name="comments" id="comments"></textarea>
					</fieldset>
				
					<br/><h3>Reading and documents</h3>
<p>I was reading for the purposes of (tick all that apply):</p>

					<fieldset data-role="controlgroup">
				    
				      <label for="und">Understanding lectures or course material</label>
				      <input type="checkbox" name="purpose_und" id="und" value="1">
				      <label for="disc">Preparing for a class or discussion</label>
				      <input type="checkbox" name="purpose_disc" id="disc" value="1">
					<label for="test">Preparing for a test</label>
				      <input type="checkbox" name="purpose_test" id="test" value="1">
					<label for="review">Critically reviewing article(s)/document(s)</label>
				      <input type="checkbox" name="purpose_review" id="review" value="1">
					<label for="notes">Creating study notes to consult in the future</label>
				      <input type="checkbox" name="purpose_notes" id="notes" value="1">
					<label for="rx">Researching for a paper or presentation</label>
				      <input type="checkbox" name="purpose_rx" id="rx" value="1">
					<label for="plan">Understanding a process or sequence of steps</label>
				      <input type="checkbox" name="purpose_plan" id="plan" value="1">
					<label for="proof">Proof-reading document(s)</label>
				      <input type="checkbox" name="purpose_proof" id="proof" value="1">
					<label for="back">Acquiring general or background knowledge</label>
				      <input type="checkbox" name="purpose_back" id="back" value="1">
					<label for="purpose_other">Other:</label>
				      <input type="checkbox" name="purpose_other" id="purpose_other" value="1" onClick="cbChanged(this, 'purpose_other_describe');">
					  <input style="display:none;" type="text" name="purpose_other_describe" id="purpose_other_describe" placeholder="(e.g., entertainment)">
				  </fieldset>
				<p>During this session, I used the following devices/technologies to read	 (tick all that apply):</p>
					<fieldset data-role="controlgroup">
				    
				      <label for="book">Bound printed paper (e.g., book or coursepack)</label>
				      <input type="checkbox" name="tech_book" id="book" value="1">
				      <label for="printout">Loose or stapled printed paper (e.g., printout)</label>
				      <input type="checkbox" name="tech_printout" id="printout" value="1">
				      <label for="handwritten">Handwritten paper (e.g., notes/notebook)</label>
				      <input type="checkbox" name="tech_handwritten" id="handwritten" value="1">
				      <label for="desktop">Desktop computer</label>
				      <input type="checkbox" name="tech_desktop" id="desktop" value="1">
				      <label for="laptop">Laptop computer</label>
				      <input type="checkbox" name="tech_laptop" id="laptop" value="1">
				      <label for="detachable">Laptop with detachable screen (e.g., Asus Transformer)</label>
				      <input type="checkbox" name="tech_detachable" id="detachable" value="1">
				      <label for="tablet_lg">Large tablet (8 - 11")</label>
				      <input type="checkbox" name="tech_tablet_lg" id="tablet_lg" value="1">
				      <label for="tablet_sm">Small tablet (&lt; 8")</label>
				      <input type="checkbox" name="tech_tablet_sm" id="tablet_sm" value="1">
				      <label for="stylus">Stylus-enabled laptop/tablet (e.g., Microsoft Surface Pro)</label>
				      <input type="checkbox" name="tech_stylus" id="stylus" value="1">
				      <label for="smartphone">Smartphone</label>
				      <input type="checkbox" name="tech_smartphone" id="smartphone" value="1">
				      <label for="ereader">E-ink reading device (e.g., Kobo Touch)</label>
				      <input type="checkbox" name="tech_ereader" id="ereader" value="1">
				      <label for="lcdreader">LCD reading device (e.g., Kindle Fire)</label>
				      <input type="checkbox" name="tech_lcdreader" id="lcdreader" value="1">



					<label for="tech_other">Other:</label>
				      <input type="checkbox" name="tech_other" id="tech_other" value="1" onClick="cbChanged(this, 'tech_other_describe');">
					  <input style="display:none;" type="text" name="tech_other_describe" id="tech_other_describe" placeholder="(e.g., vellum)">
				  </fieldset>
			
			<p>Over the course of the reading session, I read from the following documents:</p> 
			

			<fieldset>
<label for="doctype_article">Academic articles</label>
  <input type="range" name="doctype_article" id="doctype_article" value="0" min="0" step="1" max="20">
<label style="padding-top:15px" for="doctype_book">Books (or book chapters)</label>
  <input type="range" name="doctype_book" id="doctype_book" value="0" min="0" step="1" max="20">	
	<label style="padding-top:15px" for="doctype_slides">Lecture slides</label>
  <input type="range" name="doctype_slides" id="doctype_slides" value="0" min="0" step="1" max="20">	
	<label style="padding-top:15px" for="doctype_own_notes">My own notes</label>
  <input type="range" name="doctype_own_notes" id="doctype_own_notes" value="0" min="0" step="1" max="20">	
<label style="padding-top:15px" for="doctype_other_notes">Someone else's notes</label>
  <input type="range" name="doctype_other_notes" id="doctype_other_notes" value="0" min="0" step="1" max="20">	
<label style="padding-top:15px" for="doctype_encyclopedia">Encyclopedic articles</label>
  <input type="range" name="doctype_encyclopedia" id="doctype_encyclopedia" value="0" min="0" step="1" max="20">
	<label style="padding-top:15px" for="doctype_qa">Questions and answers (e.g., forum or discussion board)</label>
  <input type="range" name="doctype_qa" id="doctype_qa" value="0" min="0" step="1" max="20">
<label style="padding-top:15px" for="doctype_plan">Step-by-step procedure (e.g., assignment or tutorial)</label>
  <input type="range" name="doctype_plan" id="doctype_plan" value="0" min="0" step="1" max="20">
	<label style="padding-top:15px" for="doctype_record">Scholarly or library record</label>
  <input type="range" name="doctype_record" id="doctype_record" value="0" min="0" step="1" max="20">
<label style="padding-top:15px" for="doctype_code">Programming code</label>
  <input type="range" name="doctype_code" id="doctype_code" value="0" min="0" step="1" max="20">
<label style="padding-top:15px" for="doctype_other_1">Other</label>
  <input type="range" name="doctype_other_1" id="doctype_other_1" value="0" min="0" step="1" max="20">
<input style="display:none;" type="text" name="doctype_other_1_describe" id="docother1" placeholder="(e.g., newspaper article)">
	<label style="padding-top:15px" for="doctype_other_2">Other</label>
	  <input type="range" name="doctype_other_2" id="doctype_other_2" value="0" min="0" step="1" max="20">
	<input style="display:none;" type="text" name="doctype_other_2_describe" id="docother2" placeholder="(e.g., matchbox)">
	
		<label style="padding-top:15px" for="doctype_other_3">Other</label>
		  <input type="range" name="doctype_other_3" id="doctype_other_3" value="0" min="0" step="1" max="20">

		<input style="display:none;" type="text" name="doctype_other_3_describe" id="docother3" placeholder="(e.g., cereal box)">
		</fieldset>





			

			
			
				<br/><br/><h3>Related activities</h3>

<fieldset data-role="controlgroup">
<legend>While reading, I was also (tick all that apply):</legend>
<label for="annotation">Making notes or markings (e.g., underlining or highlighting) on the document(s) I was reading.</label>
<input type="checkbox" name="act_annotation" id="annotation" value="1">
<label for="notes">Creating study notes or summarizing the document(s) in a separate place.</label>
<input type="checkbox" name="act_notes" id="notes" value="1">
<label for="composition">Composing (writing) new documents.</label>
<input type="checkbox" name="act_composition" id="composition" value="1">
<label for="verbatim">Extracting passages verbatim from the document.</label>
<input type="checkbox" name="act_verbatim" id="verbatim" value="1">
<label for="audio_related">Listening to related audio (e.g., lecture recordings).</label>
<input type="checkbox" name="act_audio_related" id="audio_related" value="1">
<label for="audio_unrelated">Listening to unrelated audio (e.g., music).</label>
<input type="checkbox" name="act_audio_unrelated" id="audio_unrelated" value="1">
<label for="video_related">Watching related video (e.g., lecture recordings).</label>
<input type="checkbox" name="act_video_related" id="video_related" value="1">
<label for="video_unrelated">Watching unrelated video (e.g., TV program or film)</label>
<input type="checkbox" name="act_video_unrelated" id="video_unrelated" value="1">

<label for="talk_related">Talking to one or more people about the subject matter.</label>
<input type="checkbox" name="act_talk_related" id="talk_related" value="1">
<label for="talk_unrelated">Talking to one or more people about non-related things.</label>
<input type="checkbox" name="act_talk_unrelated" id="talk_unrelated" value="1">



				<label for="act_other">Other:</label>
			      <input type="checkbox" name="act_other" id="act_other" value="1" onClick="cbChanged(this, 'act_other_describe');">
				  <input style="display:none;" type="text" name="act_other_describe" id="act_other_describe" placeholder="(e.g., receiving a massage)">
			  </fieldset>
			




			<fieldset data-role="controlgroup">
			<legend>During or after the session, I (tick all that apply):</legend>
<label for="digital_to_paper">Printed out digital documents.</label>
<input type="checkbox" name="mgmt_digital_to_paper" id="digital_to_paper" value="1">
<label for="paper_to_paper">Photocopied paper documents.</label>
<input type="checkbox" name="mgmt_paper_to_paper" id="paper_to_paper" value="1">
<label for="paper_to_digital">Scanned or digitized paper documents.</label>
<input type="checkbox" name="mgmt_paper_to_digital" id="paper_to_digital" value="1">
<label for="digital_storage">Saved digital documents to a hard drive or cloud service.</label>
<input type="checkbox" name="mgmt_digital_storage" id="digital_storage" value="1">
<label for="paper_storage">Filed or stored paper documents so I could find them later.</label>
<input type="checkbox" name="mgmt_paper_storage" id="paper_storage" value="1">
<label for="reference">Saved references, URLs or descriptions of documents in order to find them again in the future.</label>
<input type="checkbox" name="mgmt_reference" id="reference" value="1">
<label for="borrow">Read from documents that I did not own (e.g. library books).</label>
<input type="checkbox" name="mgmt_borrow" id="borrow" value="1">
<label for="digital_annotation">Saved digital documents that included content generated during this session (e.g., annotations, highlighting).</label>
<input type="checkbox" name="mgmt_digital_annotation" id="digital_annotation" value="1">
<label for="paper_annotation">Filed or retained paper documents that included content generated during this session (e.g., annotations, highlighting).</label>
<input type="checkbox" name="mgmt_paper_annotation" id="paper_annotation" value="1">
			</fieldset>



			</div>
						</div>
			</form>
			
			
			
			
			
			
			
			
				<br><br>
				
				<center>
					<div style="margin:0 0 50px 0; display: none;" id="submit_box">
						<div id="pre_submit">
							<label for="pre-submit" style="color:#007700;">Ready to submit...</label>
						      
						<input type="checkbox" name="submission" id="pre-submit" value="pre-submit" onClick="cbChanged(this,'submit');">

						</div>
						<div style="display:none;" id="submit">
							<a class="ui-btn" href="#" onclick="submit_data();">Go!</a>
						</div>
						
						<div style="display:none;" id="waiting_container">
							Request submitted... please wait.
						</div>
						<div style="display:none;" id="retry_container">
							Submit failed. Please click <a style="color:blue;" href="#" onclick="submit_data();">here</a> 
							to try again.
						</div>
					</div>
				</center>
		

		</div> 


		
	</form>

	<br>
</div>	
{% endif %}
{% endblock %}


